/*-------------------------*/
/* Globel
/*-------------------------*/
*{
  position: relative;
  box-sizing: border-box;
}
body{
  font-family: roboto, arial;
}
a{
  text-decoration: none;
  color: #fff;
}
button{
  margin-right: 11px;
}

.wrapper{
  overflow: hidden;
  background-color:#20B1F2;
  padding:10px 0 10px 0;
}



/*-------------------------*/
/* top
/*-------------------------*/
/* Elements Placeholder */
.elements{
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  padding: 10px;
}
/* navbar */
.navbar{

  /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
  .navbar .elements{
  height: 50px;
}

.navbar .logo{
  float: left;
  padding: 10px 0 10px 20px;
}
.navbar .logo img{
  height: 70px;
  width: 70px;
}
.navbar .text{
  float: left;
}
.navbar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar .text > li{
  float: left;
  font-size: 36px;
}
.navbar .text > li {
  display: block;
  line-height: 12px;
  text-align: center;
  padding-left: 20px;
}

/*-------------------------*/
/* login
/*-------------------------*/
/* whatsOn */
.whatsOn{
  /*background: linear-gradient(180deg,#7FFFD4 0,#FFF 80%);*/
  /*放射性漸層*/
  /*background-image: radial-gradient(#FFF, #7FFFD4, #FFF);*/
  /*padding: 1% 0;*/
  position: relative;
}


/* clock */
.whatsOn #clock{
  /* background-color: #1D65A6; */
  border-radius: 15px;
  height: 300px;
  width: 100%;
  margin: 0 auto;
}
.whatsOn #show_date{
  font-weight:bold;
  text-align: center;
  color:#20B1F2;
  font-size: 120px;
}
.whatsOn #show_time{
  padding-left: 36%;
  padding-bottom: : 300px;
  color:#20B1F2;
  font-size: 80px;
  text-align: center; 
  display: inline;
}

/* clock */

/* index star */
.whatsOn .title{
  /*border-top: 1px solid #c9c9c9;*/
  font-size: 16px;
  text-align: center;
}
.whatsOn .proButton-top{
  padding: 5% 0;
}



.whatsOn input{
  /* 去除點擊框線 */
  outline: none;
  font-size: 40px;
  padding-left: 10%;

  border:1px; 
  border-bottom-style: solid;
  border-top-style: none;
  border-left-style:none;
  border-right-style:none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+  */
  color: rgba(120,120,120,20%);
  opacity: 1; /* Firefox */
}

.whatsOn button {
    border: none;
    background: #20B1F2;
    /* background: transparent;*/
    color: #FFFFFF;
    border-radius: 35px;
    width: 20%;
    font-family: roboto, arial;
    font-size: 30px;
    border: 1px solid #FFFFFF;
    height: 70px;
    z-index: 1;
}

/* index end */




/* add start */

.addTable{
  /*background: linear-gradient(180deg,#7FFFD4 0,#FFF 80%);*/
  /*放射性漸層*/
  /*background-image: radial-gradient(#FFF, #7FFFD4, #FFF);*/
  /*padding: 1% 0;*/
  position: relative;
}
.addTable .font{
  color:#000;
  font-weight:bold;
}
.addTable form{
  text-align: center;
  padding-top:7%;
  margin: 0 auto;
}
.addTable input{
  /* 去除點擊框線 */
  outline: none;
  font-size: 40px;
  padding-left: 10%;

  border:1px solid rgba(120,120,120,20%); 
  border-bottom-style: solid;
  border-top-style: none;
  border-left-style:none;
  border-right-style:none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+  */
  color: rgba(120,120,120,20%);
  opacity: 1; /* Firefox */
}

.addTable button {
    border: none;
    background: #20B1F2;
    /* background: transparent;*/
    color: #FFFFFF;
    border-radius: 35px;
    width: 20%;
    font-family: roboto, arial;
    font-size: 30px;
    border: 1px solid #FFFFFF;
    height: 70px;
    z-index: 1;
}


.addTable form{
  font-size: 40px;
}

.addTable form label:after{
  padding-left: 5px;
  color: red;
  content: "*";
}

/* add end */

/* card start */

.card {
  position: relative;
}


/* clock */

.card #clock{
  /* background-color: #1D65A6; */

}
.card #show_date{
  font-weight:bold;
  text-align: center;
  color:#20B1F2;
  font-size: 40px;
}
  .card #show_time{
  color:#20B1F2;
  font-size: 25px;
  text-align: center; 
}

/* button */
.card button {
    border: none;
    background: #20B1F2;
    /* background: transparent;*/
    color: #FFFFFF;
    border-radius: 35px;
    width: 60%;
    font-family: roboto, arial;
    font-size: 15px;
    font-weight:bold;
    border: 1px solid #FFFFFF;
    height: 40px;
    z-index: 1;
}
.card .proButton-botton{
  float: left;
  padding-top:3%;
  height: 50px;
  width: 420px;
  padding-bottom: 2%;
  /*padding-top:50%; */
}
.card .bottonleft{
  width: 200px;
  float: left;
}
.card .botton_right{
  width: 220px;
  float: right;
  padding-bottom: 10px;
}

.card .proButton-text{
  position: absolute;
  float: left;
  font-size: 35px;
  font-weight:bold;
  z-index: 1;
}
.card .proButton-right{
  float: right;
  width: 6%;
  z-index: 1;
}
.card .proButton-right button{
    width: 90%;
    font-size: 20px;
    height: 50px;
}
.card .search{
    border-radius: 0px;
    background: linear-gradient(180deg,#fff 0,#FFF 80%);
    width: 5%;
    font-family: roboto, arial;
    font-size: 20px;
    border: 1px solid #FFFFFF;
    height: 50px;
}

.card form{
  
}
.card .proSelect{
  width: 220px;
  float: right;
  font-weight:bold;
  z-index: 1;
}



.card .seaimg{
    height: 30px;
}
/* button */



.card table{
  margin:0 auto;
  font-size: 20px;
  text-align: center;
  width: 99%;
  background: rgb(235,135,57);
  color:#fff;
  font-weight:bold;
}
.card .td1{
  background: rgb(255,224,204);
  color:#000;
  font-weight:normal;
}
.card .td2{
  background: #fff;
  color:#000;
  font-weight:normal;
}

/*.card .text{
  font-size: 20px;
}*/

/* card end */
/* test menu */
.menu{
  padding:10px 20px 20px 20px;
  float: left;
  background-color:#FFECC9;
　height:1000px;
　text-align:center;
　line-height:400px;
}
.card .tables{
  padding-top: 200px;
  font-size: 200px;
}
/* test menu */



/* test star */
.left{
  height: 30%;
}

/* test end */